[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
pandas = "*"
openai = "*"
google-api-python-client = "*"
youtube-transcript-api = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-experimental = "*"
python-dotenv = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
